/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    
    background-color: black;
  
    
    color:darkred;
    font: Verdana, Arial, Sans-Serif;
}
body{
  background-image: url("afbeeldingen/Hd Wallpaper Black And White Mobile.jpeg");
  background-repeat: no-repeat;
  size: 2500px ;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color:darkred;
    text-align: center;
    stick
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear: both;
}


/* specifieke stijlen */

.smalltext {
    font-size: 0.7em;
}

a {
    color:crimson;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color:lightgray
    ;
    overflow: hidden;
    border-radius:  10px; 
border:  2px  solid  darkred;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color:darkgray;
}

nav li a.active {
    background-color: darkgray;
}

img.zweefLinks_1 {
    float: right;
    margin-right: 15px;
    margin-left:15px;
}
img.zweefLinks_2 {
  float: left;
  margin: 15px;
  width: 300px;
}
.evelementen{
  text-align: center
}
